<!DOCTYPE html>
<html>
    <head>
        <title>Game Cure</title>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body class="backgroundColor">
        <div id="headerBar" class="inlineDiv">
            <div>
                <button class="header2Label whiteText headerBarButton"> causecure </button>
            </div>
            <div id="headerBarRight">
                <button onclick="window.location='/'" class="header2Label whiteText headerBarButton">home</button>
                <button onclick="window.location='/aboutUs'" class="header2Label whiteText headerBarButton">about us</button>
            </div>
        </div>
        <div id="aboutUsBody">
            <div class="inlineDiv">
                <label class="headerLabel whiteText"> Hello we are Team <br> </label><label class="headerLabel"> GAMECURE <br></label>
            </div>
            <div>
                <label class="normalLabel whiteText"><br> We want to help you stay motivated for doing <br> the right thing for yourself!</label>
            </div>
            <div class="threeColumn">
                <div class="columnThree">

                </div>
                <div class="columnThree">
                    <img alt="Maren" src="images/maren.jpg" width="200">
                    <div></div>
                    <label class="header2Label whiteText">MAREN KAEFER <br> M.Sc. Managment TUM</label>
                </div>
                <div class="columnThree">

                </div>
            </div>
            <div class="threeColumn">
                <div class="columnThree">
                    <img alt="LUkas" src="images/lukas.png" width="200">
                    <div></div>
                    <label class="header2Label whiteText">LUKAS EBELING <br> M.Sc. Robotics TUM</label>
                </div>
                <div class="columnThree">

                </div>
                <div class="columnThree">
                    <img alt="Maren" src="images/oscar.png" width="200">
                    <div></div>
                    <label class="header2Label whiteText">OSCAR LANGE  <br> M.Sc. Informatics TUM</label>
                </div>
            </div>
        </div> 
    </body>
</html>