<!DOCTYPE html>
<html>
    <head>
        <title>Game Cure</title>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body id="mainBody">
        <div id="headerBar" class="inlineDiv">
            <div>
                <button class="header2Label whiteText headerBarButton"> causecure </button>
            </div>
            <div id="headerBarRight">
                <button onclick="window.location='/'" class="header2Label whiteText headerBarButton">home</button>
                <button onclick="window.location='/aboutUs'" class="header2Label whiteText headerBarButton">about us</button>
            </div>
        </div>
        <div id="firstDiv" class="section">
            <div class="inlineDiv">
                <label class="headerLabel whiteText"> LET'S FIGHT YOUR KIDNEY <br> STONES</label><label class="headerLabel"> TOGETHER</label>
            </div>
            <div>
                <label class="normalLabel whiteText">An app that helps you stay motivated for doing <br> the necessary actions to fight kidney stones</label>
            </div>
            <div>
                <label class="normalLabel">Apple ID</label>
                <input id="email">
            </div>
            <div>
                <button id="appleButton" class="header2Label">
                    Test for Free
                </button>
            </div>
        </div> 
        <div id="videoDiv" class="section">
            <div class="columntwothird">
                <label class="headerLabel"> MIKE'S JOURNEY<br></label>
                <iframe src="https://www.youtube.com/embed/Rh56nuW-V2g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            <div class="columnonethird toppadding">
                <label class="normalLabel" >We know it is not easy to take <br>
                    actions to battle kidney stones. <br>
                    Extensive water consumption, <br>
                    change in diet, exercising,… <br>
                    Even though you know that you <br>
                    should take these actions, it is <br>
                    hard to do so because of <br>
                    missing motivation. <br>
                    And as if that wasn’t enough, <br>
                    you feel lonely and powerless. 
                    <br> <br>
                    Our app is there to help you! 
                    </label>
            </div>
        </div> 
        <div id="secondDiv" class="section inlineDiv">
            <div id="secondDivLeft" class="column">
                <img alt="Our Goals" src="images/venn.png" width="400">
            </div>
            <div class="column"">
                <label class="header2Label">Motivation and <br> Community are Key <br> </label>
                <label class="normalLabel" >We know it is not easy to take <br>
                    actions to battle kidney stones. <br>
                    Extensive water consumption, <br>
                    change in diet, exercising,… <br>
                    Even though you know that you <br>
                    should take these actions, it is <br>
                    hard to do so because of <br>
                    missing motivation. <br>
                    And as if that wasn’t enough, <br>
                    you feel lonely and powerless. 
                    <br> <br>
                    Our app is there to help you! 
                    </label>
            </div>
        </div>
        <div id="thirdDiv">
            <div class="columnThree">
                <div>
                    <label class="header2Label"> Explore <br> Challenges</label>
                </div>
                <img alt="Take Challenge" src="images/Trophies1.png" width="200">
            </div>
            <div class="columnThree">
                <div>
                    <label class="header2Label"> Complete <br> Challenges</label>
                </div>
                <img alt="Complete Challenge" src="images/Trophies2.png" width="200">
            </div>
            <div class="columnThree">
                <div>
                    <label class="header2Label">Share your <br> Progress</label>
                </div>
                <img alt="Pass Kidney Stone" src="images/Trophies3.png" width="200">

            </div>
        </div>
        <div id="fourthDiv"  class="section inlineDiv">
            <div id="secondDivLeft" class="column">
                <label class="headerLabel hollowBlue">Challenge yourself <br> and your friends</label>
            </div>
            <div id="secondDivRight" class="column"">
                <label class="header2Label">STAY MOTIVATED AND <br> FOCUSED THROUGH <br> CHALLENGES <br></label>
                <label class="normalLabel" >Challenges help you to stay consistent! <br>
                    Set achievable short term goals for you <br>
                    and your friends! <br>
                    With that you can do more than just <br>
                    fight kidney stones! <br>
                    Completing challenges can also <br>
                    foster general pleasure and satisfaction! <br>
                    It could even help you relax, because <br>
                    you don't have to constantly think <br>
                    about all the stuff you have to do!
                </label>
            </div>
        </div>
        <div id="fifthDiv">
            <label class="headerLabel">Tracking <br> <br></label>
            <label class="normalLabel" >Keep Track of your progress and see how consistent you are! <br>
                Be proud of your achievements, so you can excel in the future as well! <br>
                Check if certain actions increase or decrease your symptons over a long time! <br>
                Structure your self treatment with tracking information for an optimal outcome! <br>
            </label>
        </div>
        <div id="sixthDiv" class="section inlineDiv">
            <div id="sixthDivLeft" class="column">
                <img alt="Rocket" src="images/Rocket.png" width="200">
                <img alt="Rocket" src="images/Rocket.png" width="200">
            </div>
            <div class="column"">
                <label class="header2Label">GO TOGETHER <br> DON'T FIGHT ALONE <br> <br></label>
                <label class="normal2Label" >Your are not alone in this! <br>
                    Talk to other people! <br>
                    Challenge each other! <br>
                </label>
            </div>
        </div>
        <div id="seventhDiv"  class="section inlineDiv">
            <div id="seventhDivLeft" class="column">
                <label class="headerLabel hollowBlue">BE THE FIRST <br> TO EXPERIENCE <br> GAMECURE</label>
            </div>
            <div  class="column"">
                <label class="headerLabel">WHAT MAKES US <br> UNIQUE <br><br></label>
                <label class="normalLabel" >Streamlined Process to interact with others <br>
                    Forum to exchange your progress with friends <br>
                    Reward system to keep you going! <br>
                    Active development to bring you more stuff! <br>
                </label>
            </div>
        </div>
    </body>  
</html>