<!DOCTYPE html>
<html>
    <head>
        <title>Game Cure</title>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>
        <div id="headerBarLeft">
            <label class="header2Label whiteText"> causecure </label>
        </div>
        <div id="headerBarRight" class="inlineDiv">
            <button class="header2Label whiteText headerBarButton">home</button>
            <button class="header2Label whiteText headerBarButton">about us</button>
        </div>
        <div id="firstDiv" class="section">
            <div class="inlineDiv">
                <label class="headerLabel whiteText"> LET'S FIGHT YOUR KIDNEY <br> STONES</label><label class="headerLabel"> TOGETHER</label>
            </div>
            <div>
                <label class="normalLabel whiteText">An app that helps you stay motivated for doing <br> the necessary actions to fight kidney stones</label>
            </div>
            <div>
                <button id="appleButton">
                    <img alt="Download in the App Store" src="images/AppStoreBadge.svg" width="200">
                </button>
            </div>
        </div> 
        <div id="secondDiv" class="section inlineDiv">
            <div id="secondDivLeft" class="column">
                <label class="headerLabel hollowBlue">You can do this! <br> And you are not <br> alone!</label>
            </div>
            <div id="secondDivRight" class="column"">
                <label class="header2Label">Motivation and <br> Community are Key <br> </label>
                <label class="normalLabel" >We know it is not easy to take <br>
                    actions to battle kidney stones. <br>
                    Extensive water consumption, <br>
                    change in diet, exercising,… <br>
                    Even though you know that you <br>
                    should take these actions, it is <br>
                    hard to do so because of <br>
                    missing motivation. <br>
                    And as if that wasn’t enough, <br>
                    you feel lonely and powerless. 
                    <br> <br>
                    Our app is there to help you! 
                    </label>
            </div>
        </div>
        <div id="thirdDiv">
            <div class="columnThree">
                <div>
                    <label class="header2Label"> Take A <br> Challenge</label>
                </div>
                <img alt="Take Challenge" src="images/Trophies1.png" width="200">
            </div>
            <div class="columnThree">
                <div>
                    <label class="header2Label"> Complete <br> Challenges</label>
                </div>
                <img alt="Complete Challenge" src="images/Trophies2.png" width="200">
            </div>
            <div class="columnThree">
                <div>
                    <label class="header2Label">Pass your <br> Kidney Stone</label>
                </div>
                <img alt="Pass Kidney Stone" src="images/Trophies3.png" width="200">

            </div>
        </div>
    </body>  
</html>