
#headerBar {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 2vh;
  padding-top: 0.5vh;
  padding-bottom: 1vh;
  background: #2ca0c7;
  width: 100%;
}

.backgroundColor {
  background: #2ca0c7;
}

#aboutUsBody {
  padding-top: 15vh;
  padding-bottom: 15vh;
  text-align: center;
}

.threeColumn {
  display: flex;
  padding-left: 10vw;
  padding-top: 10vh;
  padding-right: 10vw;
}

#headerBarRight {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 0.5vh;
  padding-right: 2vw;
}

#firstDiv {
  background: #2ca0c7;
  padding-top: 15vh;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-bottom: 15vh;
}

#videoDiv {
  background: white;
  padding-top: 15vh;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 15vh;
  display: flex;
}

.paddingleft{
  padding-left: 5vw;
  padding-top: 5vh;
}

#secondDiv {
  background: #ebf0f2;
  display: flex;
  padding-left: 10vw;
  padding-right: 3vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#secondDivLeft {
  padding-left: 5vw;
}


#thirdDiv {
  background: white;
  display: flex;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

#fourthDiv {
  background: #95d4ed;
  display: flex;
  padding-left: 10vw;
  padding-right: 5vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#fifthDiv {
  background: #ebf0f2;
  padding-top: 15vh;
  padding-left: 10vw;
  padding-right: 5vw;
  padding-bottom: 15vh;
}

#sixthDiv {
  background: white;
  display: flex;
  padding-left: 10vw;
  padding-right: 5vw;
  padding-top: 8vh;
  padding-bottom: 10vh;
}

#sixthDivLeft {
  padding-top: 2vh;
}

#seventhDiv {
  background: #95d4ed;
  display: flex;
  padding-left: 10vw;
  padding-right: 5vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#seventhDivLeft {
  padding-top: 5vh;
}

.column {
  flex: 50%;
}

.columnThree {
  flex: 33%;
  text-align: center;
}

.columntwothird {
  flex: 60%;
}

.columnonethird {
  flex: 40%;
}

.section {
}

.inlineDiv {
  display: inline;
}

.toppadding {
  padding-top: 5vh;
}

iframe {
  width: 50vw;
  height: 60vh;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

h1 {
  margin: 0;
}

.headerLabel {
  font-size: 3em;
  font-weight: bold;
}

.header2Label {
  font-size: 2em;
  font-weight: bold;
}

.normalLabel {
  font-size: 1.5em;
}

.normal2Label {
  font-size: 2em;
}

.whiteText {
  color: white;
}

.redText {
  color: red;
}

.hidden{
  visibility: hidden;
}

.headerBarButton {
    background-color: Transparent;
    border: none;
}

#appleButton {
  margin-top: 2vh;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: black;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

input {
    margin-top: 2vh;
    color: #fff !important;
    text-decoration: none;
    background: black;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
  
}

#appleButton:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  }

.hollowBlue {
  color: #2ca0c7;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
}